@import "tailwindcss";

@theme inline {
  --font-nunito: var(--font-nunito);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-nunito), 'Nunito', sans-serif;
}
